.profile {
  margin: 0 auto;
  max-width: 880px;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
  }
}
