.profile__profession {
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 680px) {
  .profile__profession {
    font-size: 14px;
    margin-top: 14px;
  }
}
